*.bak
*.csv
*.pyc
!.idea/
!.idea/dictionaries/
!.idea/dictionaries/project.xml
.DS_Store
.env
.idea/
.idea/*
.pytrain.history
.tox/
__pycache__
accessory_config.json
buttons.py
cache/
dist/
pytrain.history
pytrain.log*
raspinfo.txt
replay.txt
src/*.egg-info/
src/pytrain/_version.py
