dist/
src/*.egg-info/
src/pytrain/_version.py
.idea/
!.idea/
.idea/*
!.idea/dictionaries/
!.idea/dictionaries/project.xml
.tox/
__pycache__
 *.pyc
 *.bak
.env
pytrain.log*
.DS_Store
replay.txt
.pytrain.history
pytrain.history
buttons.py
raspinfo.txt
accessory_config.json
