[Unit]
Description=PyTrain Server
After=multi-user.target

[Service]
Type=exec
User=davids
Group=davids
ExecStart=/home/davids/pytrain_server.bash
Nice=-5

[Install]
WantedBy=multi-user.target