[Unit]
Description=PyTrain Client
After=multi-user.target

[Service]
Type=exec
User=davids
Group=davids
ExecStart=/home/davids/pytrain_client.bash
Nice=-5

[Install]
WantedBy=multi-user.target